<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Index



{% endblock %}

{% block content %}
<h1>Sobre mim

</h1>



<p> 
    </p>
    <p>
        Sou uma pessoa educada, dedicada e curiosa, que gosta de aprender na prática e está sempre buscando evoluir. Tenho grande interesse pela área da Medicina Veterinária, especialmente pelo cuidado com os animais e pela possibilidade de atuar de forma especializada no futuro. Gosto de desafios, de adquirir novos conhecimentos e de equilibrar momentos de foco com atividades que também me fazem bem, como jogar e explorar meus interesses pessoais. Acredito que consigo trabalhar tanto de forma independente quanto em equipe, me adaptando às situações e procurando sempre dar o meu melhor.

</p>



{% endblock %}