<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

Curriculo


{% endblock %}

{% block content %}
<h1> Currículo </h1>

        <h2> Informações pessoais: </h2>
        <ul>
            <li> Nome: Isabela Aleixo Brasil Rodriguues </li>
            <li> Email: isabelabrasil3108@gmail.com </li>
            <li> Telefone: 31 99188-9279 </li>
        </ul>

        <h2> Experiência Profissional: </h2>
        <ul>
            <li> Empresa: Hotel San Diego </li>
            <li> Cargo: Administração </li>
            <li> Período: 3° ano do EM </li>
        </ul>

{% endblock %}